.header{
    display: flex;
    height: 20px;
    background-color:#011936;
    align-items: center; /*alinha os itens no centro do header em relação a altura*/

}

.flexheuristica{
    display: flex; /*deixa os elemento um do lado do outro*/
    flex-wrap: wrap; 
    margin: auto;
    border-radius: 2px;
}

.flexheuristica strong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #293132;
}

.flexheuristica > div {
    flex: 1 1 250px; /* 1 se expanda 1 fique menor 250px base que se for menor vai quebrar*/
    padding: 10px;
    box-shadow: 0 0 14px 0 rgb(0,0,0.0.02);
}

.addButtom{
    background-color:#3ddc97;
    margin-top: 27px;
    margin-right: 10px;
    margin-left: 10px;
    margin-block-end: 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.5s;
}

.addButtom:hover{
    background: #32B57C;
}


.flexaplicacoes{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.flexaplicacoes > div{
    margin: 10px;
    height: 200px;
    flex: 1 1 300px; /* 1 se expanda 1 fique menor 250px base que se for menor vai quebrar*/
}

@media (max-width:610px){
    .addButtom{
        width: 100%;
        margin-top: 10;
    }
}