
.header{
    display: flex;
    height: 20px;
    width: 100%;
    background-color: #F0F0F3;
    align-items: center; /*alinha os itens no centro do header em relação a altura*/
    margin-block-end: 20px;
    position: fixed;
    box-shadow: 1px 1px 4px 
    rgba(174, 174, 192, 0.4), 
    -1px -1px 4px #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.screen{
    display: grid;
    grid-template-columns: 300px auto;
}

.flexheuristica{
    right: 0;
    width: 100%;
    height: 100%;
    display: flex; /*deixa os elemento um do lado do outro*/
    flex-flow: row wrap;
}


.flexheuristica > div {
    min-width: 512px;
    flex: 1 1 512px; /* 1 se expanda 1 fique menor 250px base que se for menor vai quebrar*/
}

.flexaplicacoes{
    height: 100%
}
.dados{
    position: fixed;
    left: 20px;
    height: 100%;
    width: 300px;
    margin-top: 35px;
} 

.dados> div{
    margin-right: 10px;
    margin-left: 10px;
    margin-block-end: 10px;
}
.flexaplicacoes > div{
    margin-right: 10px;
    margin-block-end: 10px;
}

@media (max-width:920px) {
    .screen {
        display: inline;
    }
    .flexaplicacoes {
        width: 100%;
    }
}