.divbotoes{
    justify-content: center;
}

.divbotoes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botoesapp { 
    margin: 5px;
    color:#fcfcfc;
    justify-content: center;
    align-items: center; /*alinha verticalmete*/
    padding: 10px;
    background-color: #F0F0F3;
    box-shadow: 2px 2px 4px 
    rgba(174, 174, 192, 0.4), 
    -2px -2px 4px #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: background 0.5s;
}
.botoesapp:hover {
    box-shadow: inset 1.5px 1.5px 1px 
    rgba(174, 174, 192, 0.2), 
    inset -1px -1px 1px 
    rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}