
.matriz{
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    padding-top: 6px;
    background-color: #F0F0F3;
    box-shadow: 3px 3px 10px
    rgba(174, 174, 192, 0.4),
    -5px -5px 10px #FFFFFF;
    border-radius: 5px;
    height: 506px;
    width: 512px;
}

.matriz a {
    max-width: 100%;
    min-width: 500px;
    display: flex;
    font-size: 20px;
}

.matriz p {
    text-align:center;
    color: #728AB7;
}

.graph {
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
}

.matriz:hover{
    box-shadow: inset 1.5px 1.5px 1px
    rgba(174, 174, 192, 0.2),
    inset -1px -1px 1px
    rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

