.voltar{
    display: flex;
    vertical-align: middle;
    color: #fcfcfc;
    cursor: pointer;
}
.menu{
    display: flex;
}

.menu li {
    margin-left: 10px; /*margem em largura*/
}

.menu li a{
    display: block;
    padding: 10px; /*margem em altura*/
}

.botao{
    background-color: #011936;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    height: 20px;
    margin-block-end: 12px;
}

.menu{
    display: flex;
}

.menu li {
    margin-left: 10px; /*margem em largura*/
}

.menu li a{
    display: block;
    padding: 10px; /*margem em altura*/
}
