.voltar{
    display: flex;
    vertical-align: middle;
    color: #fcfcfc;
    cursor: pointer;
}

.voltar{
    background-color: #F0F0F3;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    height: 20px;
    margin-block-end: 3px;
    margin-left: 5px;
}


