@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none; 
    font-size: 1.2rem;
}
#root{
    height: 100%;
}
html{
    height: 100vh;
}
body{
    background-color: #030027;
    height: 100vh;
    min-width: 910px;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
} 
body, input, button, a, p {
    font-family: Roboto, sans-serif;
}
