@import url('https://fonts.googleapis.com/css?family=Rubik');

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#root{
    height: 100%;
}
html{
    height: 100vh;
}
body{
    background-color: #030027;
    height: 100vh;
    min-width: 910px;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
* {
    font-family: Rubik, sans-serif;
}
