
body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none; 
    font-size: 1.2rem;
}
#root{
    height: 100%;
}
html{
    height: 100vh;
}
body{
    background-color: #F0F0F3;
    height: 100vh;
    min-width: 910px;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
} 
* {
    font-family: 'Rubik', sans-serif;
}
