@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none; 
}

#root{
    height: 100%;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
body, input, button {
    font-family: Roboto, sans-serif;
}
